<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
  <%- include('./partials/header.ejs') %>
    <main>
      <section id="pokemons">
        <% pokemons.forEach(element=> { %>          
          <a href="/detalhes/<%= element.id %>">
            <article class="card">

              <div class="card_image">
                <img src="<%= element.image %>" 
                alt=" <%= element.name %>" />
              </div>


            <div class="nome__do__pokemon">              
            <div><%= element.name %></div>
            </div>
              
                       
            </article>
          </a>
          <% }) %>
      </section>
    </main>
    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>
</body>