<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/71f92ea1b3.js" crossorigin="anonymous"></script>
    <title> Detalhes </title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>        
        
        <section id="detailsContainer"> 

            <div id="sub__header"> 
                <%= filmesDetalhes.nome %>           
            </div> 
           
                <%- filmesDetalhes.iframe %> 
            <table>
                <thead>
                    <th colspan="2"> Detalhes: </th>
                </thead>
                <tbody>
                    <tr>
                        <td> Direção: </td>
                        <td> <%= filmesDetalhes.diretor %> </td>
                    </tr>

                    <tr>
                        <td> Duração(min): </td>
                        <td> <%= filmesDetalhes.duracao %> </td>
                        
                    </tr>

                    <tr>
                        <td> Lançamento: </td>
                        <td> <%= filmesDetalhes.ano %> </td>
                    </tr>
                </tbody>
                <tfoot></tfoot>

            </table>      
                      
                         
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>  
</body>
</html>